In [1]:
import pandas as pd

In [5]:
url='https://data.epa.gov.tw/api/v2/aqx_p_02?api_key=e8dd42e6-9b8b-43f8-991e-b3dee723a52d&limit=1000&sort=datacreationdate%20desc&format=CSV'

In [6]:
df=pd.read_csv(url)
df

   site county  pm25  datacreationdate itemunit
0    大城    彰化縣    11  2022-09-26 20:00    μg/m3
1   富貴角    新北市     5  2022-09-26 20:00    μg/m3
2    麥寮    雲林縣     4  2022-09-26 20:00    μg/m3
3    關山    臺東縣     5  2022-09-26 20:00    μg/m3
4    馬公    澎湖縣     7  2022-09-26 20:00    μg/m3
..  ...    ...   ...               ...      ...
73   土城    新北市     1  2022-09-26 20:00    μg/m3
74   新店    新北市     2  2022-09-26 20:00    μg/m3
75   萬里    新北市     4  2022-09-26 20:00    μg/m3
76   汐止    新北市     4  2022-09-26 20:00    μg/m3
77   基隆    基隆市     6  2022-09-26 20:00    μg/m3

[78 rows x 5 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   site              78 non-null     object
 1   county            78 non-null     object
 2   pm25              78 non-null     int64
 3   datacreationdate  78 non-null     object
 4   itemunit          78 non-null     object
dtypes: int64(1), object(4)
memory usage: 3.2+ KB

In [8]:
df=df.dropna()
df

   site county  pm25  datacreationdate itemunit
0    大城    彰化縣    11  2022-09-26 20:00    μg/m3
1   富貴角    新北市     5  2022-09-26 20:00    μg/m3
2    麥寮    雲林縣     4  2022-09-26 20:00    μg/m3
3    關山    臺東縣     5  2022-09-26 20:00    μg/m3
4    馬公    澎湖縣     7  2022-09-26 20:00    μg/m3
..  ...    ...   ...               ...      ...
73   土城    新北市     1  2022-09-26 20:00    μg/m3
74   新店    新北市     2  2022-09-26 20:00    μg/m3
75   萬里    新北市     4  2022-09-26 20:00    μg/m3
76   汐止    新北市     4  2022-09-26 20:00    μg/m3
77   基隆    基隆市     6  2022-09-26 20:00    μg/m3

[78 rows x 5 columns]

In [9]:
df1=df['site	county	pm25	datacreationdate'.split()]
df1

   site county  pm25  datacreationdate
0    大城    彰化縣    11  2022-09-26 20:00
1   富貴角    新北市     5  2022-09-26 20:00
2    麥寮    雲林縣     4  2022-09-26 20:00
3    關山    臺東縣     5  2022-09-26 20:00
4    馬公    澎湖縣     7  2022-09-26 20:00
..  ...    ...   ...               ...
73   土城    新北市     1  2022-09-26 20:00
74   新店    新北市     2  2022-09-26 20:00
75   萬里    新北市     4  2022-09-26 20:00
76   汐止    新北市     4  2022-09-26 20:00
77   基隆    基隆市     6  2022-09-26 20:00

[78 rows x 4 columns]

In [10]:
df1.columns.tolist()

['site', 'county', 'pm25', 'datacreationdate']

In [13]:
df1.values.tolist()

[['大城', '彰化縣', 11, '2022-09-26 20:00'],
 ['富貴角', '新北市', 5, '2022-09-26 20:00'],
 ['麥寮', '雲林縣', 4, '2022-09-26 20:00'],
 ['關山', '臺東縣', 5, '2022-09-26 20:00'],
 ['馬公', '澎湖縣', 7, '2022-09-26 20:00'],
 ['金門', '金門縣', 13, '2022-09-26 20:00'],
 ['馬祖', '連江縣', 11, '2022-09-26 20:00'],
 ['埔里', '南投縣', 25, '2022-09-26 20:00'],
 ['復興', '高雄市', 11, '2022-09-26 20:00'],
 ['永和', '新北市', 8, '2022-09-26 20:00'],
 ['竹山', '南投縣', 22, '2022-09-26 20:00'],
 ['中壢', '桃園市', 6, '2022-09-26 20:00'],
 ['三重', '新北市', 8, '2022-09-26 20:00'],
 ['冬山', '宜蘭縣', 2, '2022-09-26 20:00'],
 ['宜蘭', '宜蘭縣', 5, '2022-09-26 20:00'],
 ['陽明', '臺北市', 5, '2022-09-26 20:00'],
 ['花蓮', '花蓮縣', 8, '2022-09-26 20:00'],
 ['臺東', '臺東縣', 3, '2022-09-26 20:00'],
 ['恆春', '屏東縣', 2, '2022-09-26 20:00'],
 ['潮州', '屏東縣', 18, '2022-09-26 20:00'],
 ['屏東', '屏東縣', 16, '2022-09-26 20:00'],
 ['小港', '高雄市', 13, '2022-09-26 20:00'],
 ['前鎮', '高雄市', 11, '2022-09-26 20:00'],
 ['前金', '高雄市', 15, '2022-09-26 20:00'],
 ['左營', '高雄市', 9, '2022-09-26 20:00'],
 ['楠梓', '高雄市', 14, '2022-09-26 20:00'],
 ['林園', '高雄市', 8, '2022-09-26 20:00'],
 ['大寮', '高雄市', 19, '2022-09-26 20:00'],
 ['鳳山', '高雄市', 14, '2022-09-26 20:00'],
 ['仁武', '高雄市', 11, '2022-09-26 20:00'],
 ['橋頭', '高雄市', 15, '2022-09-26 20:00'],
 ['美濃', '高雄市', 15, '2022-09-26 20:00'],
 ['臺南', '臺南市', 14, '2022-09-26 20:00'],
 ['安南', '臺南市', 16, '2022-09-26 20:00'],
 ['善化', '臺南市', 11, '2022-09-26 20:00'],
 ['新營', '臺南市', 12, '2022-09-26 20:00'],
 ['嘉義', '嘉義市', 12, '2022-09-26 20:00'],
 ['臺西', '雲林縣', 7, '2022-09-26 20:00'],
 ['朴子', '嘉義縣', 12, '2022-09-26 20:00'],
 ['新港', '嘉義縣', 14, '2022-09-26 20:00'],
 ['崙背', '雲林縣', 9, '2022-09-26 20:00'],
 ['斗六', '雲林縣', 21, '2022-09-26 20:00'],
 ['南投', '南投縣', 24, '2022-09-26 20:00'],
 ['二林', '彰化縣', 10, '2022-09-26 20:00'],
 ['線西', '彰化縣', 19, '2022-09-26 20:00'],
 ['彰化', '彰化縣', 21, '2022-09-26 20:00'],
 ['西屯', '臺中市', 20, '2022-09-26 20:00'],
 ['忠明', '臺中市', 17, '2022-09-26 20:00'],
 ['大里', '臺中市', 23, '2022-09-26 20:00'],
 ['沙鹿', '臺中市', 12, '2022-09-26 20:00'],
 ['豐原', '臺中市', 19, '2022-09-26 20:00'],
 ['三義', '苗栗縣', 18, '2022-09-26 20:00'],
 ['苗栗', '苗栗縣', 10, '2022-09-26 20:00'],
 ['頭份', '苗栗縣', 18, '2022-09-26 20:00'],
 ['新竹', '新竹市', 4, '2022-09-26 20:00'],
 ['竹東', '新竹縣', 6, '2022-09-26 20:00'],
 ['湖口', '新竹縣', 6, '2022-09-26 20:00'],
 ['龍潭', '桃園市', 1, '2022-09-26 20:00'],
 ['平鎮', '桃園市', 5, '2022-09-26 20:00'],
 ['觀音', '桃園市', 9, '2022-09-26 20:00'],
 ['大園', '桃園市', 6, '2022-09-26 20:00'],
 ['桃園', '桃園市', 7, '2022-09-26 20:00'],
 ['大同', '臺北市', 11, '2022-09-26 20:00'],
 ['松山', '臺北市', 4, '2022-09-26 20:00'],
 ['古亭', '臺北市', 9, '2022-09-26 20:00'],
 ['萬華', '臺北市', 7, '2022-09-26 20:00'],
 ['中山', '臺北市', 5, '2022-09-26 20:00'],
 ['士林', '臺北市', 6, '2022-09-26 20:00'],
 ['淡水', '新北市', 9, '2022-09-26 20:00'],
 ['林口', '新北市', 9, '2022-09-26 20:00'],
 ['菜寮', '新北市', 6, '2022-09-26 20:00'],
 ['新莊', '新北市', 9, '2022-09-26 20:00'],
 ['板橋', '新北市', 5, '2022-09-26 20:00'],
 ['土城', '新北市', 1, '2022-09-26 20:00'],
 ['新店', '新北市', 2, '2022-09-26 20:00'],
 ['萬里', '新北市', 4, '2022-09-26 20:00'],
 ['汐止', '新北市', 4, '2022-09-26 20:00'],
 ['基隆', '基隆市', 6, '2022-09-26 20:00']]

In [25]:
countrys=list(set(df1['county']))
countrys

['新竹市',
 '臺北市',
 '高雄市',
 '臺中市',
 '屏東縣',
 '宜蘭縣',
 '基隆市',
 '金門縣',
 '桃園市',
 '臺南市',
 '臺東縣',
 '新竹縣',
 '南投縣',
 '嘉義市',
 '彰化縣',
 '苗栗縣',
 '澎湖縣',
 '嘉義縣',
 '新北市',
 '雲林縣',
 '花蓮縣',
 '連江縣']

In [27]:
df.groupby('county').get_group(countys[0])

   site county  pm25  datacreationdate itemunit
0    大城    彰化縣    11  2022-09-26 20:00    μg/m3
43   二林    彰化縣    10  2022-09-26 20:00    μg/m3
44   線西    彰化縣    19  2022-09-26 20:00    μg/m3
45   彰化    彰化縣    21  2022-09-26 20:00    μg/m3